extends ../templates/base

block content
    div(class="title")
        include ../../prod/svg/logo.svg
        
    div(class="reveal main-slider")
        div(class="slides main-slider-container")
            section(id="slide_1", class="main-slider-item")
                div(class="page-inner")
                    div(class="slider-text")
                        div(class="name")
                            include ../../prod/svg/logo_full.svg
                        div(class="desc") dental care
                        div(class="text") Авторская клиника 
                            br
                            | эстетической стоматологии 
                            br
                            | доктора
                            br
                            | Александра Дубкова
                    div(class="slider-img")    
                        img(src="../dummy/slide_1.jpg", alt="Первый слайд")
            section(id="slide_2",class="main-slider-item")
                div(class="page-inner")
                    div(class="slider-text")
                        div(class="name")
                            include ../../prod/svg/logo_full.svg
                        div(class="desc") dental care
                        div(class="text") Авторская клиника 
                            br
                            | эстетической стоматологии 
                            br
                            | доктора
                            br
                            | Александра Дубкова
                    div(class="slider-img")    
                        img(src="../dummy/slide_1.jpg", alt="Первый слайд")
            section(id="slide_3",class="main-slider-item")
                div(class="page-inner")
                    div(class="slider-text")
                        div(class="name")
                            include ../../prod/svg/logo_full.svg
                        div(class="desc") dental care
                        div(class="text") Авторская клиника 
                            br
                            | эстетической стоматологии 
                            br
                            | доктора
                            br
                            | Александра Дубкова
                    div(class="slider-img")    
                        img(src="../dummy/slide_1.jpg", alt="Первый слайд")
            section(id="slide_4",class="main-slider-item")
                div(class="page-inner")
                    div(class="slider-text")
                        div(class="name")
                            include ../../prod/svg/logo_full.svg
                        div(class="desc") dental care
                        div(class="text") Авторская клиника 
                            br
                            | эстетической стоматологии 
                            br
                            | доктора
                            br
                            | Александра Дубкова
                    div(class="slider-img")    
                        img(src="../dummy/slide_1.jpg", alt="Первый слайд")
                
        
