extends ../templates/base

block content
    div(class="title")
        include ../../prod/svg/logo.svg
        
    div(class="reveal main-slider")
        div(class="slides main-slider-container")
            section(class="main-slider-section")
                section(id="slide_1", class="main-slider-item")
                    div(class="page-inner")
                        div(class="slider-text page-text")
                            div(class="slider-text-container")
                                div(class="name")
                                    include ../../prod/svg/logo_full.svg
                                h1 Авторская клиника 
                                    br
                                    | эстетической стоматологии 
                                    br
                                    | доктора
                                    br
                                    | Александра Дубкова
                        div(class="slider-img")    
                            img(src="../dummy/slide_1.jpg", alt="Первый слайд")
                                
                section(id="slide_2", class="main-slider-item")
                    div(class="page-inner page-inner--reverse")
                        div(class="slider-text page-text")
                            div(class="slider-text-container")
                                h1(class="left") Меня зовут Александр 
                                    br
                                    | и я врач! 
                                p Да, это профессия-призвание, а не пустой звук. Поэтому не нужно удивляться, что у крутых специалистов слишком дорогой приём. На своё образование в год я трачу более 1 миллиона рублей. Акции, скидки — это не про мою клинику: я специалист, а не сетевой магазин. Пациентам важно получить грамотную медицинскую помощь или я не прав?
                                    | Если вижу во взгляде пофигизм и лишь вопрос о стоимости, но никак ни о виде конструкции, материале для изготовления, методе работы и т.д., я скорее откажусь от работы. Для меня клиника — это мой дом, который ещё приносит и доход. 
                                    | Поэтому к своей работе отношусь с особым трепетом, и как бы не звучало избито, но счастливая улыбка пациента — это настоящий допинг.
                        div(class="slider-img")    
                            img(src="../dummy/slide_2.jpg", alt="Второй слайд")
                            div(class="quote") «Либо ты профессионал, либо иди учись» (с).
                                
                section(id="slide_3", class="main-slider-item")
                    div(class="page-inner")
                        div(class="slider-text page-text")
                            div(class="slider-text-container")
                                h1(class="left") Профилактика и отбеливание
                                h2 - ультразвуковая чистка    
                                h2 - процедура AirFlow
                                h2 - все виды отбеливания
                                
                        div(class="slider-img")    
                            img(src="../dummy/slide_3.jpg", alt="Второй слайд")
                                
                section(id="slide_4", class="main-slider-item")
                    div(class="page-inner page-inner--reverse")
                        div(class="slider-text page-text")
                            div(class="slider-text-container")
                                h1(class="left") Хирургическая стоматология
                                h2 - имплантация зубов    
                                h2 - все виды костных и мягко-тканных пластик
                                h2 - удаление зубов любой сложности
                                
                        div(class="slider-img")    
                            img(src="../dummy/slide_4.jpg", alt="Второй слайд")
                                
                section(id="slide_5", class="main-slider-item")
                    div(class="page-inner")
                        div(class="slider-text page-text")
                            div(class="slider-text-container")
                                h1(class="left") Терапевтическая стоматология
                                h2 - эстетическая реставрация по адгезивной технике
                                h2 - пломбирование любых полостей
                                h2 - эндодонтия (лечение каналов)

                        div(class="slider-img")    
                            img(src="../dummy/slide_5.jpg", alt="Второй слайд")
                                
                section(id="slide_6", class="main-slider-item")
                    div(class="page-inner page-inner--reverse")
                        div(class="slider-text page-text")
                            div(class="slider-text-container")
                                h1(class="left") Ортопедическая стоматология
                                h2 - микропротезирование керамическими реставрациями
                                h2 - виниры
                                h2 - коронки на имплантах
                                h2 - съемное протезирование любой сложности

                        div(class="slider-img")    
                            img(src="../dummy/slide_6.jpg", alt="Второй слайд")
                                
                section(id="slide_7", class="main-slider-item")
                    div(class="page-inner")
                        div(class="slider-text page-text")
                            div(class="slider-text-container")
                                h1(class="left") Ортодонтия
                                h2 - лечение брекет системами
                                h2 - лечение ортодонтическими каппами

                        div(class="slider-img")    
                            img(src="../dummy/slide_7.jpg", alt="Второй слайд")
                            
                section(id="slide_8", class="main-slider-item")
                    div(class="page-inner")
                        div(class="slider-text map-container")
                            div(id="mapGoogle", class="map", data-lat="55.6721487", data-lng="37.7461284", data-zoom="13")
                        div(class="slider-text page-text")
                            div(class="slider-text-container")
                                div(class="location")
                                    div(class="city ") Москва,
                                    div(class="street") пр. 40 лет Октября, 40
                                    a(href="tel:+74952560303", class="link link--opacity link-black") +7 (495) 256-03-03
                                a(href="https://www.instagram.com/dr.dubkov/", class="link link--opacity link-black instagram") @dr.dubkov
    
    button(class="slider-arrow")        
        include ../../prod/svg/arrow.svg
    
    div(class="slider-point")
