/*** Settings ***/
@import "nib"
@import "../lib/css/css"

global-reset();
reset-html5();
form-reset();
b
strong
i
em
	font-style normal
	font-weight normal

$transitionAnimation = cubic-bezier(0.250, 0.460, 0.450, 0.940)

/* fonts */
@font-face
	font-family "Circe"
	src url("../fonts/Circe.woff") format("woff")

@font-face
	font-family "CirceBold"
	src url("../fonts/CirceBold.woff") format("woff")

@font-face
	font-family "CirceExtraBold"
	src url("../fonts/CirceExtraBold.woff") format("woff")

@font-face
	font-family "CirceExtraLight"
	src url("../fonts/CirceExtraLight.woff") format("woff")

@font-face
	font-family "CirceLight"
	src url("../fonts/CirceLight.woff") format("woff")

@font-face
	font-family "CirceThin"
	src url("../fonts/CirceThin.woff") format("woff")
/* //fonts */

html
	height 100%
body
	position relative
	width 100%
	height 100%
	min-height 100vh
	max-height 100vh
	line-height 1
	cursor default
	font-family "Circe"

	color $colorLightBlack

	transition opacity 0.3s $transitionAnimation

.page
	height 100%
.page-content
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	display block
	width 100%
	height 100vh
	min-height 100vh
	max-height 100vh
	padding 30px 75px 70px 75px
	box-sizing border-box

	overflow hidden

.page-inner
	width 100%
	min-height 100%
	max-height 100%
	margin 0 auto
	display flex
	justify-content space-between

	&--reverse
		flex-flow row-reverse

.title
	display block
	width 150px

	margin 0 auto 2% auto

	svg
		display block
		width 100%

.reveal.main-slider
	height 100%

	.main-slider-item
		max-height 100%
		top 0 !important
		left 0
		right 0
		bottom 35px
		padding 0

	.main-slider-section
		max-height 100%
		top 0 !important
		left 0
		right 0
		bottom 35px
		padding 0

.slider-img
.slider-text
	width 50%
	transition-delay 0.2s
	transition 0.8s transform  $transitionAnimation, 0.3s opacity $transitionAnimation

.slider-text
	display flex
	align-items center
	justify-content center
	min-height 100%
	background #f3f3f3

	transform translateY(-50px)
	opacity 0

.reveal .map
	width 100%
	height 100%

.reveal .slider-text-container
	padding 20px
	box-sizing border-box

	.name
		display block
		width 295px

		margin 0 auto 100px auto
		svg
			display block
			width 100%

.page-text
	h1
		font-size 44px
		text-align center
		line-height 56px

		color #000000

		&.left
			text-align left

	h2
		padding-left 40px
		box-sizing border-box

		font-size 34px
		font-family "CirceLight"

		line-height 46px
		text-align left

	p
		max-width 565px
		margin-top 50px

		font-size 20px
		font-family "CirceLight"

		line-height 28px
		text-align left

.link
	text-decoration none

.link-black
	color #000

.link-opacity
	transition 0.3s opacity  $transitionAnimation

	&:hover
		opacity 0.65

.slider-img
	position relative

	transform translateY(50px)
	opacity 0

	img
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		display block
		width 100%
		height 100%

		object-fit cover
		object-position top

	.quote
		position absolute
		bottom 25px
		left 25px

		z-index 10
		font-family "Circe"
		font-size 20px
		color #fff

.slider-arrow
	position absolute
	bottom 35px
	left 50%

	display block
	width 22px

	margin-left  -11px

	cursor pointer
	transition transform 0.3s $transitionAnimation

	svg
		display block
		width 100%

		path
			transition fill 0.3s $transitionAnimation

			&:hover
				fill #000

.location,
.reveal .location
	margin-bottom 100px
	line-height 36px
	font-size 24px
	font-family "CirceLight"
	text-align center

	color #000

.instagram,
.reveal .instagram
	color #000
	font-size 24px
	font-family "CirceLight"
	cursor pointer

.slider-point
	position absolute
	right 35px
	top 50%
	transform translateY(-50%)
	display flex
	align-items center
	justify-content center
	flex-flow column

	.slider-point-item
		display block
		width 10px
		height 10px

		border-radius 50%

		margin-bottom 15px

		background #d8d8d8

		transition background 0.3s $transitionAnimation

		&:last-child
			margin-bottom 0

		&.active
			background #b89e4b


.reveal.main-slider
	.main-slider-item.present
		.slider-text
		.slider-img
			transform translateY(0)
			opacity 1
